html {
    height: 100%;
    width: 100%;
}


body {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    color: #1B2C34;
    text-transform: uppercase;
    font-size: 30px;
    margin: 2rem 0 0 0;
    padding: 0;
}

h2{
    color: #1B2C34;
    margin: 1rem 0 2rem 0;
}

h3 {
    text-transform: uppercase;
    color: #1B2C34;
}

p {
    color: #161616;
    margin: 1rem 0;
}


button {
    display: inline-block;
    border: none;
    outline: none;
    vertical-align: middle;
    margin: 0 .5rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: inherit;
    text-transform: capitalize;
    font-weight: 700;
    color: #F8F5F9;
    border-radius: 3px;
    cursor: pointer;
    background-color: #1B2C34;
    padding: 0;
}

.search__field {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F7CE3E;
    padding: 2rem 0;
    height: 290px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.search-type {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.sort-button {
    border-radius: 3px;
    margin: 0 0.5rem;
    width: 3rem;
}

.sort-button > button {
    width: 3rem;
    margin: 0;
    border: 2px solid #1B2C34;
}

.input__field {
    width: 40%;
}

.input-keyword {
    width: 100%;
    margin-top: 1rem;
    background-color: white;
    border: 2px solid #1B2C34;
    border-radius: 5px;
    display: flex;
}

.input-keyword > input {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 3px;
    display: flex;
    border: none;
}

.input-keyword > svg {
    color: white;
    min-width: 35px;
    text-align: center;
}

.input-keyword > button {
    width: 3rem;
    margin: 0;
    height: auto;
    border-radius: 0 3px 3px 0;
}


.container-2 {
    padding: 5% 10% 0 10%;
    background-color: #1B2C34;
    margin: 0;
}

.country__display {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.country__display-child {
    margin: .5rem;
    width: 20%;
    padding: 1rem;
    border-radius: 5px;
    line-height: 1;
    text-align: center;
    background-color: white;
}

.country__display-imgDiv {
    height: 40%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country__display-img {
    width: 80%;
    box-shadow: 5px 5px 8px #888888;
    margin: 2rem 0;
}

